fastapi
uvicorn[standard]
sqlalchemy
qrcode[pil]
jinja2
python-multipart
aiofiles
resend
python-dotenv
psycopg2-binary
pytz
python-decouple
google-auth-oauthlib
google-auth-httplib2
google-api-python-client